<% @post.comments.each do |comment| %>
	<div class="panel panel-default">
	  <div class="panel-heading"><%= comment.user.user_name %> respondió</div>
	  <div class="panel-body"><%= comment.comentario %></div>
	</div>
<% end %>